<%- include('layout/header') %>

<div class="container">
  <a class="btn btn-sm btn-primary mb-3 mt-3" href="/accounts/new" role="button">New Account</a>

  <table class="table table-striped">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Date</th>
      <!-- <th scope="col">Category</th> -->
      <th scope="col">Amount</th>
      <th scope="col">Details</th>
      <!-- <th scope="col">Remark</th> -->
      <th scope="col">Action</th>
    </tr>
    <% for( let index = 0; index < list.length; index++ ) { 
      const row = list[index]
      %>
    <tr>
      <th scope="row"><%= index+1 %></th>
      <td><%= dayjs(row.createdAt).format('YYYY-MM-DD') %></td>
      <td><%= row.amount %></td>
      <td><%= row.details %></td>
      <td>
        <a href="/accounts/edit/<%= row._id %>" class="btn btn-sm btn-warning">edit</a>
        <button type="button" data-url="/accounts/delete/<%=row._id%>" onclick="confirmDelete(event)" class="btn btn-sm btn-danger">delete</button>
      </td>
    </tr>

    <% } %>
  </table>
</div>


<script>
  function confirmDelete(e) {
    if (window.confirm('Are you sure to delete this account?')) {
      location.href = e.target.getAttribute('data-url')
    }
  }
</script>
<%- include('layout/footer') %>