<%- include('layout/header.ejs') %>
<%- include('getClass') %>
<nav class="navbar navbar-light bg-light mb-3">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Register</span>
  </div>
</nav>

<% 
const emailClass = getClass('email')
const passwordClass = getClass('password')
const passwordRepeatClass = getClass('passwordRepeat')
%>

<form action="/register" method="post" class="container" id="js-register-form">
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" value="<%= values.email %>" class="form-control <%= emailClass.input %>" id="email" required aria-describedby="email" name="email">
    <div class="<%= emailClass.feedback %>"><%= errors.email %></div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" value="<%= values.password %>" class="form-control <%=  passwordClass.input %>" id="password" required minlength="6" maxlength="20" name="password">
      <div class="<%= passwordClass.feedback %>"><%= errors.password %></div>

    </div>
    <div class="mb-3">
      <label for="password-repeat" class="form-label">Repeat Password</label>
      <input type="password" value="<%= values.passwordRepeat %>" class="form-control <%= passwordRepeatClass.input %>" id="password-repeat" name="passwordRepeat" required minlength="6" maxlength="20">
      <div class="<%= passwordRepeatClass.feedback %>"><%= errors.passwordRepeat %></div>
    </div>
    <input type="hidden" value="<%= values.token %>" name="token">
    <button type="submit" class="btn btn-primary">Register</button>
</form>

<%- include('layout/footer.ejs') %>